body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fafafa;
}

.container {
    display: flex;
    gap: 20px;
}


.box {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    background-color: #e0f2fe;
    color: #0369a1;
}


.box-content {
    box-sizing: content-box; 
}

.box-border {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fafafa;
}
.section-title {
    color: #1e3c72;
    margin-bottom: 20px;
}
.demo-part1 {
    display: flex;
    gap: 20px;
}
.box {
    width: 300px;
    padding: 20px;
    border: 5px solid black;
    background-color: #e0f2fe;
    color: #0369a1;
}
.box-content { box-sizing: content-box; }
.box-border { box-sizing: border-box; }





.container {
    width: 1000px;
    background-color: #e2e8f0;
    margin-bottom: 20px;
    border: 2px dashed #94a3b8;
    /* Dùng flex-wrap để thấy rõ hiện tượng vỡ dòng khi kích thước vượt quá 1000px */
    display: flex;
    flex-wrap: wrap; 
}


.sidebar-left {
    width: 250px;
    background-color: #ffedd5; 
    padding: 15px;
}

.main-content {
    width: 500px;
    background-color: #f0fdf4; 
}

.sidebar-right {
    width: 250px;
    background-color: #fee2e2; 
    padding: 15px;
}



/* Trường hợp 1: Không dùng border-box */
.no-border-box aside, .no-border-box main {
    box-sizing: content-box;
}


.has-border-box aside, .has-border-box main {
    box-sizing: border-box;
}